---
import '../styles/global.css';
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atelier Romeny</title>
</head>
<body class="h-screen">
    <main class="grid place-items-center w-full h-full">
    <div class="w-2/3 h-2/3">
        <img class="object-contain w-full h-full" src="/edlef-romeny-working.jpg" alt="Edlef Romeny" width="1536" height="1120">
    </div>        
    </main>
</html>